1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [7]:
def mickeymouse(i):
    if i % 15 == 0:
        return "MickeyMouse"
    elif i % 5 == 0:
        return "Mouse"
    elif i % 3 == 0:
        return "Mickey"
    else:
        return i
    
result = tuple((mickeymouse(i) for i in range(1,101)))
print(result)        

# tuples are immutable?

def substiquack(i):
    if isinstance(i,str):
        return i.replace('Mickey','Donald').replace('Mouse','Duck')
    else:
        return i
    
result2 = tuple((substiquack(i) for i in result))
print(result2)

(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [9]:
def swap(x,y):
    return (y,x)

swap(1,2)

(2, 1)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [11]:
def d2(u,v):
    return ((u[0]-v[0])**2 + (u[1]-v[1])**2)**(1/2)

d2((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [11]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

#using Counter object from collections package

from collections import Counter
count1 = Counter(s.lower())
print(count1)

#building our own dictionary
count2 = {}
for char in s.lower():
    if char in count2:
        count2[char] += 1
    else:
        count2[char] = 1

print(count2)

Counter({' ': 41, 'e': 22, 't': 19, 'r': 17, 'i': 14, 'o': 13, 'm': 12, 'n': 10, 'f': 10, 'h': 9, 's': 9, 'u': 9, 'p': 8, 'a': 7, 'l': 6, 'b': 5, 'c': 3, 'd': 3, 'w': 2, '1': 2, '0': 2, '.': 2, 'k': 2, 'y': 2, 'v': 2, 'g': 1})
{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [22]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

# using standard set object
set_l = set(l)
print(set_l)
print(len(set_l),'unique numbers')

{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
54 unique numbers

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [23]:
def square(x):
    return x**2
def cube(x):
    return x**3
def sixth(x):
    return square(cube(x))

print(sixth(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [25]:
# a
lista1 = []
for x in range(0,11):
    lista1.append(x**3)
    
#b

lista2 = [x**3 for x in range(0,11)]

print(lista1)
print(lista2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [4]:
for a in range(1,101):
    for b in range(a,101):
        c = (a**2 + b**2)**(1/2)
        if c.is_integer() and c<=100:
            print((a,b,c))

(3, 4, 5.0)
(5, 12, 13.0)
(6, 8, 10.0)
(7, 24, 25.0)
(8, 15, 17.0)
(9, 12, 15.0)
(9, 40, 41.0)
(10, 24, 26.0)
(11, 60, 61.0)
(12, 16, 20.0)
(12, 35, 37.0)
(13, 84, 85.0)
(14, 48, 50.0)
(15, 20, 25.0)
(15, 36, 39.0)
(16, 30, 34.0)
(16, 63, 65.0)
(18, 24, 30.0)
(18, 80, 82.0)
(20, 21, 29.0)
(20, 48, 52.0)
(21, 28, 35.0)
(21, 72, 75.0)
(24, 32, 40.0)
(24, 45, 51.0)
(24, 70, 74.0)
(25, 60, 65.0)
(27, 36, 45.0)
(28, 45, 53.0)
(28, 96, 100.0)
(30, 40, 50.0)
(30, 72, 78.0)
(32, 60, 68.0)
(33, 44, 55.0)
(33, 56, 65.0)
(35, 84, 91.0)
(36, 48, 60.0)
(36, 77, 85.0)
(39, 52, 65.0)
(39, 80, 89.0)
(40, 42, 58.0)
(40, 75, 85.0)
(42, 56, 70.0)
(45, 60, 75.0)
(48, 55, 73.0)
(48, 64, 80.0)
(51, 68, 85.0)
(54, 72, 90.0)
(57, 76, 95.0)
(60, 63, 87.0)
(60, 80, 100.0)
(65, 72, 97.0)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [5]:
def normalize_tuple(tup):
    norm = 0
    for x in tup:
        norm += x**2
    return tuple([y/(norm**(1/2)) for y in tup])

normalize_tuple((2,3,2))

(0.48507125007266594, 0.7276068751089989, 0.48507125007266594)